// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Imports
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

@import './vendor/bootstrap/functions';
@import './vendor/bootstrap/variables';

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Variables & Mixins
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

// -=-=- Breakpoints -=-=-
$desktop                                    : 'min-width: 1001px';
$mobile                                     : 'max-width: 1000px';
$tablet-min                                 : 'min-width: 691px';
$phone                                      : 'max-width: 491px';

// -=-=- Animations -=-=-
@mixin transition-primary($prop: all) {
    transition: $prop .3s ease-in-out; 
}

// -=-=- Typography -=-=-
$tag-font-size                              : 14px;

// -=-=- Spacing -=-=-
$container-spacing                          : 3rem;

// -=-=- Z-Index -=-=-
$z-index-sidebar                            : 9999;

// -=-=- Sidebar -=-=-
$sidebar-width                              : 300px;
$sidebar-padding                            : 20px;
$sidebar-background                         : #343a40;
$sidebar-color                              : $white;

$nav-font-size                              : 1.5rem;
$nav-line-height                            : 36px;
$nav-vert-space                             : 0.65rem;
$hover-bar-width                            : 4px;
$hover-bar-offset                           : $nav-line-height; // $nav-font-size + $nav-vert-space;


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  General
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

body { 
    background-color: $body-bg; 
    font-family: 'Karla', sans-serif;

    // Scrollbar
    &::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(0,0,0,0);
        -webkit-border-radius: 100px;
    }
    &::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
        width: 10px;
    }
    &::-webkit-scrollbar-thumb:vertical {
        background: rgba(0,0,0,0.5);
        -webkit-border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:vertical:active {
        background: rgba(0,0,0,0.61);
        -webkit-border-radius: 100px;
    }
}

.content-wrap { padding-top: $container-spacing; }

// -=-=- Card Animations -=-=-

.card-enter {
    opacity: 0.01;
}

.card-enter.card-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.card-leave {
    opacity: 1;
}

.card-leave.card-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

// -=-=- Tags -=-=-

.tag {
    @include transition-primary(background);
    font-size: $tag-font-size;
    display: inline-block;
    border: 1px solid $gray-500;
    color: $gray-600;
    padding: 2px 10px;
    border-radius: 2px;
    margin: 0 0.25em 0.25em 0;
    text-decoration: none;

    &:hover {
        background: $primary;
        color: $white;
        border: 1px solid $primary;
        text-decoration: none;
    }
}

.page-title {
    text-align: center;
    margin-bottom: 2rem;
}

.page-not-found img {
    max-width: 500px;
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Sidebar
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.sidebar {
    width: $sidebar-width;
    padding: $sidebar-padding;
    height: 100%;
    position: fixed;
    // overflow-y: scroll;
    z-index: $z-index-sidebar;
    background: $sidebar-background;

    transform: translateX(-$sidebar-width);
    @include transition-primary(transform);

    .content__wrap-inner {
        padding-left: 10px;
    }

    h2,
    h5,
    p,
    hr { color: $white; }

    .status-label { margin-right: 5px; }

    .status {
        padding: 2px 10px;
        font-size: $tag-font-size;
        display: inline-block;

        &.status--employed {
            background: $primary;
        }

        &.status--looking {
            background: $warning;
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(0,0,0,0);
        -webkit-border-radius: 100px;
    }
    &::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
        width: 10px;
    }
    &::-webkit-scrollbar-thumb:vertical {
        background: rgba(0,0,0,0.5);
        -webkit-border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:vertical:active {
        background: rgba(0,0,0,0.61);
        -webkit-border-radius: 100px;
    }
}

.sidebar--open { 
    transform: none;
}

.logo { 
    text-align: center;
    padding: 40px 0;

    img {
        width:200px;
        border-radius: 50%;
    }

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

@media screen and ($desktop) {
    .sidebar--open + .content-wrap {
        margin-left: $sidebar-width;
    }
    .sidebar-toggle { display: none; }
}

@media screen and ($mobile) {
    .sidebar-toggle {
        position: absolute;
        top: 20px;
        left: 100%;
    }
}

.menu {
    padding-left: 0;
    position: relative;

    .hover-bar {
        position: absolute;
        height: $hover-bar-offset;
        width: 0;
        top: 0;
        left: -$hover-bar-width * 3;
        background-color: $primary;
        transition: top 0.5s ease;
    }

    &:hover .hover-bar {
        width: $hover-bar-width;
    }

    .menu-item {
        list-style: none;
        font-size: $nav-font-size;
        letter-spacing: 2px;

        a { 
            text-decoration: none;
            color: $white;
            display: block;
            height: 100%;
        }

        svg {
            height: 1rem;
            margin-right: 0.5rem;
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }

        &.menu-item--active {

            a { color: $primary; }
        }

        @for $i from 1 through 6 {
            &:nth-child(#{$i}):hover ~ .hover-bar {
                top: $i * $hover-bar-offset - $hover-bar-offset;
            }
        }
    }
}


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Portfolio
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.project {
    @include transition-primary();

    &.not-animated {
        opacity: 0;
        transform: translateX(-25px);        
    }

    h5 { font-weight: 300; }

    .card-footer {
        padding: 0.75em 1.25em 0.5em;
    }
}

.card-img-top {
    position: relative;

    &::after {
        @include transition-primary(opacity);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.3;
    }
}

.project__bullets {
    padding: 0 1rem 0 2rem;
    margin-bottom: 3rem;
}


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  About
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.about__upper {

    img {
        width: 100%;
    }
}


// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Skills
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.filters {
    justify-content: flex-end;
    margin-bottom: $container-spacing * 2/3;
}

.filter {
    font-weight: $font-weight-bold;
    font-size: 1.25rem;

    .pretty input:checked~.state.p-success label:after, 
    .pretty.p-toggle .state.p-success label:after { background-color: $primary !important; }

    label span {
        position: relative;
        bottom: 2px;
    }
}

.skill {
    @include transition-primary();
    text-align: center;

    &.not-animated {
        opacity: 0;
        transform: translateX(-25px);        
    }

    .card {
        transition:  0.3s ease;

        // shadow-sm --> shadow-lg on hover
        &.shadow-sm:hover { box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important; }
    }

    span.devicons {
        display: inline-block;
        font-size: 3rem;
        margin: 1rem 0;
        color: $primary;
    }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Experience
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.gig {

    h2 { font-variant: small-caps; }

    h5 { font-weight: 300; }

    &.current .gig__end { color: $primary; }
}

.gig-wrap {
    @include transition-primary();

    &.not-animated {
        opacity: 0;
        transform: translateX(-25px);        
    }
}

.gig__dates {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;

    @media screen and ($mobile) {
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }
}

.gig__company,
.gig__logo {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.gig__logo {
    height: 2rem;
    width: auto;
    margin-right: 1rem;
}

